@import "tailwindcss";

@layer base {
  h1 {
    line-height: 160%;
    @apply text-[76px] font-ubuntu font-medium;
  }
  h2 {
    line-height: 160%;
    @apply text-[57px]  font-ubuntu font-medium;
  }
  h3 {
    line-height: 160%;
    @apply text-[38px] font-ubuntu font-medium;
  }
  h4 {
    line-height: 160%;
    @apply text-[28px] font-ubuntu font-medium;
  }
  h5 {
    line-height: 160%;
    @apply text-[21px] font-ubuntu font-medium;
  }
  h6 {
    line-height: 160%;
    @apply text-[20px] font-ubuntu font-medium;
  }
  p {
    line-height: 160%;
    @apply text-[18px] font-ubuntu font-medium;
  }

}

@layer components {
  .main-star {
    background-image: conic-gradient(
      from 124.7deg at 59% 50%,
      #f09c49,
      #f06148,
      #f07e48
    );
    aspect-ratio: 1;
    clip-path: polygon(50% 0, 79% 90%, 2% 35%, 98% 35%, 21% 90%);
    width: 2048px;
    top:0;
    left:0;
    transform: translate(-50%, -40%);
    position: absolute;
    z-index: -1;
  }
  .star {
    aspect-ratio: 1;
    clip-path: polygon(50% 0, 79% 90%, 2% 35%, 98% 35%, 21% 90%);
    @apply h-28 w-28 bg-[var(--color-primary)];
  }
}
@theme {
  --font-ubuntu: "ubuntu";
  --color-primary: rgb(240, 156, 73);
  --color-secondary: rgb(240, 126, 72);
  --color-black: rgb(26, 17, 8);
  --color-black-75: rgba(26, 17, 8, 0.75);
  --color-black-50: rgba(26, 17, 8, 0.5);
  --color-black-25: rgba(26, 17, 8, 0.25);
  --color-black-10: rgba(26, 17, 8, 0.1);
  --color-black-5: rgba(26, 17, 8, 0.05);
  --color-error: rgb(240, 126, 72);
}
